.log-in-text{
    color: #b3a59a;
    font-size: 20px;
    font-weight: 600;
}
.hr-margin{
    margin: 15px 70px 15px 70px;
}
.br-20{
    text-align: center;
    border-radius: 20px !important;
}
.log-btn{
    font-size: 15px;
    line-height: 15px;
    border-radius: 20px;
    width: 250px;
}
.mt-10{
    margin-top: 10px;
}
.btn-div{
    display: flex;
    justify-content: center;
}
.img-bgr{
    width: 65%;
    background-color: beige;
    height: 100%;
}
.bg-primary{
    background-color: white !important;
}
.common-img-bg{
    background-image: none !important;
}
.border-shadow{
    border: 1px solid #e4e4e4;
    box-shadow: 0px 5px 10px 0px #b3a59a;
}
.login-container{
    padding: 100px 20px 50px 15px;
    background-color: white;
    width: 35%;
    height: 100%;
}
.bg-img-tag{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 993px) {
    .login-container{
        padding: 100px 20px 50px 15px;
        background-color: white;
        width: 100%;
        height: 100%;
    }
    .img-bgr{
        position: absolute;
        width: 100%;
        background-color: beige;
        height: 100%;
    }
    .login {
        position: fixed !important;
    }
    .common-img-bg .text-center>img {
        display: block !important;
        margin: 0px auto;
    }
  }
  