<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="img-bgr">
    <img src="assets/images/bg.jpg" class="bg-img-tag" alt="bg.jpg">
  </div>
  <div class="login-container">
    <div class="auth-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="login-card card-body auth-body">
            <form class="md-float-material">

              <div class="auth-box  border-shadow">
                <div class="text-center">
                  <img style="height: 80px" src="assets/images/auth/loyco.png" alt="logo.png">
                </div>
                <div class="row mt-10">
                  <!-- <div class="row m-b-20"> -->
                  <div class="col-md-12">
                    <!-- <h3 class="text-left txt-primary">Log In</h3> -->
                    <span class="log-in-text">Log In</span>
                  </div>
                </div>
                <hr class="hr-margin" />
                <div class="input-group">
                  <input type="email" class="form-control br-20" placeholder="Your Email Address" #userEmail>
                  <span class="md-line"></span>
                </div>
                <!-- <div class="row m-t-25 text-left">
                  <div class="col-sm-7 col-xs-12">
                    <div class="checkbox-fade fade-in-primary">
                      <label>
                        <input type="checkbox" value="">
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                        <span class="text-inverse">Remember me</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5 col-xs-12 forgot-phone text-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>
                  </div>
                </div> -->
                <!-- <div class="row m-t-30"> -->
                <div class="row ">
                  <div class="col-md-12 btn-div">
                    <button type="button" (click)="getLoggedIn()"
                      class="btn btn-primary log-btn btn-block waves-effect text-center m-b-20">Log in</button>
                  </div>
                </div>
                <!-- <hr/> -->
                <!-- <div class="row">
                  <div class="col-md-10">
                     <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                    <p class="text-inverse text-left"><b>Your Autentification Team</b></p> 
                  </div>
                  <div class="col-md-2">
                    <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png"> 
                  </div>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>