.logo-img-size{
    height: 50px;
}
.ml-35{
    margin-left: 35px;
}
.bg-color{
    background-color: #673d3d  !important;
}
.bg-black{
    background-color: #673d3d !important;
}
.bg-white{
    background-color: white !important;
}
.icon-black{
    border: 1px solid #1f1e1e !important;
    color: black !important;
}
.black-color{
    color:black !important;
}
.white-color{
    color:white !important;
}
.nav-items-names{
    margin: 10px;
    font-size: 15px;
}
.no-padding0{
padding: 0px !important;
}

.dropdown-list{
    margin-top: 0px !important;
}